* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;

    /* TODO:: REMOVE BORDERS*/
    /* border: .5px solid salmon; */
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

body>* {
    padding-inline: 22%;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
}

.hero-section,
.card-section,
.quote-section,
.cta-section {
    flex: 1;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 24px;
}

.links a {
    text-decoration: none;
    color: white;
}

.hero-section {
    background-color: #1F2937;
    padding-block: 80px;

    display: flex;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 1;
}

.hero-img {
    flex: 1 0 0;
    /* height: 300px; */
    width: auto;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    align-self: flex-start;

    padding: 6px 32px;
}

.card-section {
    padding-block: 40px 80px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-section-title {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 150px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.card img {
    height: 150px;
    width: 100%;
    align-items: stretch;
    border-radius: 12px;
    border: 3px solid #3882F6;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 80px 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-author {
    font-size: 20px;

    align-self: flex-end;
}

/* Call to Action section */
.cta-section {
    padding-block: 80px;
}

.cta {
    padding: 40px 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
}

.cta-title {
    font-weight: bold;
    font-size: 20px;
}

.cta-button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    padding: 6px 32px;
}